        <!-- Sliding App Menu panel. Click "App Menu" to see. -->
    <div class="sharepanel">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="padd spara">
                        <!-- Small para -->
                        <p>Select another Beecher Carlson App.</p>
                    </div>
                </div>
                <div class="col-md-4">
                            <!-- Social media icons. Replace # with your profile links -->
                            <a href="#"><img src="~/Content/img/topbar/facebook.png" alt="" width="40" /></a>
                            <a href="#"><img src="~/Content/img/topbar/twitter.png" alt="" width="40" /></a>
                            <a href="#"><img src="~/Content/img/topbar/linkedin.png" alt="" width="40" /></a>
                            <a href="#"><img src="~/Content/img/topbar/googleplus.png" alt="" width="40" /></a>
                            <a href="#"><img src="~/Content/img/topbar/rss.png" alt="" width="40" /></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- End Sliding App Menu panel. Click "App Menu" to see. -->
