        <div id="header-container">
            <a href="#" class="win-backbutton"><img src="~/Content/img/Left-Arrow.png" /></a>
            <h5>Application name</h5>
            <div class="dropdown">
                <a class="header-dropdown dropdown-toggle accent-color" data-toggle="dropdown" href="#">
                  Title of the Page
                  <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">
                  <li><a href="#">Go to another page</a></li>
                  <li><a href="#">Go to another page</a></li>
                  <li><a href="#">Go to another page</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Home</a></li>
               </ul>
            </div>
         </div>
      
        <ul class="sidebar-nav">
          @*<li class="sidebar-brand"><a href="#"><img src="~/Content/img/Left-Arrow.png" /> Back to Home</a></li>*@
          <li><a href="#"><span class="glyphicon glyphicon-tower"></span>Dashboard</a></li>
          <li><a href="#"><i class="fa fa-cogs fa-fw"></i> Shortcuts</a></li>
          <li><a href="#"><i class="fa fa-folder-open fa-fw"></i> Folders</a></li>
          <li><a href="/"><i class="fa fa-cog fa-spin"></i> Working</a></li>
          <li><a href="/Home/About" class="active"><span class="glyphicon glyphicon-star"></span>About</a></li>
          <li><a href="#"><i class="fa fa-arrow-circle-o-left"></i> Services</a></li>
          <li><a href="/Home/ThreeColumn"><span class="glyphicon glyphicon-trash"></span>3 Column</a></li>
        </ul>
