@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-6">
        

    </div>
    <div class="col-md-6">
        <div class="dropdown pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h5><span class="label label-warning">5</span> Tasks Awaiting
                <span class="caret"></span></h5>
            </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
          </ul>
        </div>

        <div class="dropdown pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h5><i class="fa fa-user"></i> Michael Gilley
                <span class="caret"></span></h5>
            </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
          </ul>
        </div>
    </div>
</div>     
<br /><br /><br /><br />      

          <div class="row">
            <div class="col-md-12">
              <p class="lead"><a id="menu-toggle" href="#" class="btn btn-default"><i class="glyphicon glyphicon-resize-horizontal"></i></a>This simple sidebar template has a hint of JavaScript to make the template responsive. It also includes Font Awesome icon fonts.</p>
            </div>
            <div class="col-md-6">
              <p class="well">The template still uses the default Bootstrap rows and columns.</p>
            </div>
            <div class="col-md-6">
              <p class="well">But the full-width layout means that you wont be using containers.</p>
            </div>
            <div class="col-md-4">
              <p class="well">Three Column Example</p>
            </div>
            <div class="col-md-4">
              <p class="well">Three Column Example</p>
            </div>
            <div class="col-md-4">
              <p class="well">You get the idea! Do whatever you want in the page content area!</p>
            </div>
          </div>

<div class="row">
    <div class="col-md-8">
        <h2>Index</h2>
<span class="glyphicon glyphicon-search"></span>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
</p>
    </div>
    <div class="col-md-4">
                <div class="tile bg-green">
						<div class="tile-body">
                            @*<img src="~/Content/img/Abacus.png" />*@
							<span class="glyphicon glyphicon-bullhorn"></span>
						</div>
						<div class="tile-object">
							<div class="name">
								Meetings
							</div>
							<div class="number">
								12
							</div>
						</div>
					</div>

        <div class="tile bg-purple">
						<div class="tile-body">
                            @*<img src="~/Content/img/Abacus.png" />*@
							<span class="glyphicon glyphicon-folder-open"></span>
						</div>
						<div class="tile-object">
							<div class="name">
								Meetings
							</div>
							<div class="number">
								12
							</div>
						</div>
					</div>

        <div class="tile double bg-purple">
            <div class="tile-body">
                <span class="glyphicon glyphicon-folder-open"></span>
            </div>
            <div class="tile-object">
                <div class="name">
                    Gallery
                </div>
                <div class="number">
                    124
                </div>
            </div>
        </div>
    </div>

</div>



