@{
    ViewBag.Title = "ThreeColumn";
    Layout = "~/Views/Shared/_3ColumnLayout.cshtml";
}

<h2>ThreeColumn</h2>


<a id="menu-toggle" href="#" class="btn btn-default"><i class="glyphicon glyphicon-resize-horizontal"></i></a>


<div class="row">
    <div class="col-md-8">
        <h2>Index</h2>
<span class="glyphicon glyphicon-search"></span>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
</p>
    </div>
    <div class="col-md-4">
                <div class="tile bg-green">
						<div class="tile-body">
                            @*<img src="~/Content/img/Abacus.png" />*@
							<span class="glyphicon glyphicon-bullhorn"></span>
						</div>
						<div class="tile-object">
							<div class="name">
								Meetings
							</div>
							<div class="number">
								12
							</div>
						</div>
					</div>

        <div class="tile bg-purple">
						<div class="tile-body">
                            @*<img src="~/Content/img/Abacus.png" />*@
							<span class="glyphicon glyphicon-folder-open"></span>
						</div>
						<div class="tile-object">
							<div class="name">
								Meetings
							</div>
							<div class="number">
								12
							</div>
						</div>
					</div>

        <div class="tile double bg-purple">
            <div class="tile-body">
                <span class="glyphicon glyphicon-folder-open"></span>
            </div>
            <div class="tile-object">
                <div class="name">
                    Gallery
                </div>
                <div class="number">
                    124
                </div>
            </div>
        </div>
    </div>

</div>