body { 
    padding-top: 0px; 
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}


/***
General backgrounds
***/
.bg-blue {
  background-image: none !important;
  background-color: #4b8df8 !important;
}

.bg-red {
  background-image: none !important;
  background-color: #e02222 !important;
}

.bg-yellow {
  background-image: none !important;
  background-color: #ffb848 !important;
}

.bg-green {
  background-image: none !important;
  background-color: #35aa47 !important;
}

.bg-purple {
  background-image: none !important;
  background-color: #852b99 !important;
}

.bg-grey {
  background-image: none !important;
  background-color: #555555 !important;
}
.bg-ltgrey {
  background-image: none !important;
  background-color: #fafafa !important;
}


.sharepanel{
    padding-top:10px;
    padding-bottom:10px;
    background:#333;
    color:#ddd;
    display:none;
    border-bottom:1px solid #222;
}

.navbar{height:42px;min-height:42px;}
.navbar-brand{
  display: inline-block;
  margin-top: -5px;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 250px;
}

.navbar-brand img {
  margin-left: 50px;
}

.navbar-nav>li>a{
    padding-top: 10px;
    padding-bottom: 10px;}

.navbar-nav > li.dropdown .dropdown-toggle .badge {
  position: absolute;
  font-size: 11px !important;
  font-weight: 300;
  top: 8px;
  right: 24px;
  text-align: center;
  height: 14px;
  background-color: #8cc63e;
  padding: 2px 6px 2px 6px;
  -webkit-border-radius: 12px !important;
     -moz-border-radius: 12px !important;
          border-radius: 12px !important;
  text-shadow:none !important;
}
/*--------------------------------------*/
.header {
  padding: 0 !important;
  margin: 0 !important;
  background:#000;
}

.header.navbar-fixed-top {
  z-index: 9995 !important;
}

.dropdown-menu.extended {
min-width: 160px !important;
max-width: 300px !important;
width: 233px !important;
background-color: #ffffff !important;
}

.header .btn-navbar {
  margin-bottom: 0px;
  padding-right: 0px;
  padding-top:10px;
  padding-bottom: 6px; 
  background-image: none;
  filter:none;
  box-shadow: none;
  color: #fff;
  border: 0;
}

.header .btn-navbar:hover {
  text-decoration: none;
}

.header .navbar-inner {
  width: 100%;
  margin-left: 0 0 0 110px;
  border: 0px;
  padding: 0px; 
  box-shadow: none;
  height: 42px; 
}

.header .navbar-nav {
  display: block; 
}

.header .navbar-nav > li {
  margin: 0px;
  padding: 0px;
}

.header .navbar-nav > li.dropdown, 
.header .navbar-nav > li.dropdown > a {
  padding-left: 4px; 
  padding-right: 4px;
}

.header .navbar-nav > li.dropdown > a:last-child {
  padding-right: 0;
}

.header .navbar-nav > li.dropdown:last-child {
   padding-right: 2px;
}

.header .navbar-nav > li.dropdown .dropdown-toggle {
  margin: 0px;
  padding: 15px 10px 7px 10px;
}

.header .navbar-nav > li.dropdown .dropdown-toggle i {
  font-size: 18px;
}

.header .navbar-nav > li.dropdown.user .dropdown-toggle {
  padding: 7px 4px 6px 9px;
}

.header .navbar-nav > li.dropdown.user .dropdown-toggle:hover {
  text-decoration: none;
}

.header .navbar-nav > li.dropdown.user .dropdown-toggle .username {
  color: #ddd;
}

.header .navbar-nav li.dropdown.user .dropdown-toggle i {
  display: inline-block;
  margin-top: 5px;
  margin: 0;
  font-size: 16px;
}

.header .navbar-nav > li.dropdown.user .dropdown-menu i {
  width: 15px;
  display: inline-block;
}
   
.header .navbar-nav > li.dropdown .dropdown-toggle .badge {
  position: absolute;
  font-size: 11px !important;
  font-weight: 300;
  top: 8px;
  right: 24px;
  text-align: center;
  height: 14px;
  background-color: #8cc63e;
  padding: 2px 6px 2px 6px;
  -webkit-border-radius: 12px !important;
     -moz-border-radius: 12px !important;
          border-radius: 12px !important;
  text-shadow:none !important;
}

#innerwrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}
#inner-sidebar-wrapper {
  margin-left: -250px;
  left: 500px;
  width: 250px;
  background: #4b8df8;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

/*----------------3 column layout wrapper -----------*/
#threecolwrapper {
  padding-left: 500px;
  transition: all 0.4s ease 0s;
}
#threecolsidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #3b3939;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}
#secondSidebar-wrapper {
  margin-left: -250px;
  left: 500px;
  width: 250px;
  background: #4b8df8;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}
/*----------------END 3 column layout wrapper -----------*/
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #3b3939;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  
  position: absolute;
  top: 85px;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  /*text-indent: 20px;*/

}

.sidebar-nav li a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding-left:15px;
}
.sidebar-nav li a span{
 padding-right:20px;
}
.sidebar-nav li a:hover{
  color: #3b3939;
  background: #8cc63e;
  text-decoration: none;
}
.sidebar-nav li a.active {
  color: #fff;
  background: #808080;
  text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 60px;
  display: inline-block;
}

/*#menu-toggle {
  display: none;
}*/
#phoneMenu {
    display: none;
}


.inset {
  padding: 20px;
}

@media (max-width:767px) {
    #threecolwrapper {
        padding-left: 0;
    }

    #threecolsidebar-wrapper {
        left: 0;
    }
    #secondSidebar-wrapper {
        left:0;
    }

    #threecolwrapper.active {
        position: relative;
        left: 500px;
    }

        #threecolwrapper.active #threecolsidebar-wrapper {
            left: 250px;
            width: 250px;
            transition: all 0.4s ease 0s;
        }
        #threecolwrapper.active #secondSidebar-wrapper {
            left: 500px;
            width: 250px;
            transition: all 0.4s ease 0s;
        }


    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

   #wrapper.active #sidebar-wrapper {
            left: 250px;
            width: 250px;
            transition: all 0.4s ease 0s;
        }

    /*#menu-toggle {
        display: inline-block;
    }*/
    #phoneMenu {

        display: inline-block;
    }

    .inset {
        padding: 15px;
    }
}

.badge-important{background-color:#b94a48;}



/***
Tiles(new in v1.1.1)
***/
.tiles {
  margin-right: -10px;
}

.tile {
  display: block;
  letter-spacing: 0.02em;
  float: left;
  height: 130px;
  width: 130px !important;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-smooth: always;
  overflow: hidden;
  border: 4px solid transparent;
  margin: 0 10px 10px 0;
}

.tile:after,
.tile:before {
  content: "";
  float: left; 
}

.tile.double {
  width: 278px !important;
}

.tile.double-down {
  height: 278px !important;
}

.tile:active, .tile.selected {
  border-color: #ccc;
}

.tile:hover {
  border-color: #aaa;
}

.tile.selected .corner:after {  
  content: "";
  display: inline-block;
  border-left: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 40px solid #ccc;
  position: absolute;
  top: -3px;
  right: -3px;
}

.tile.selected .check:after {  
  content: "";
  font-family: FontAwesome;
  font-size: 13px;
  content: "\f00c";
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 2px;
}

.tile * {
  color: #ffffff;
}

.tile .tile-body {
  height: 100%;
  vertical-align: top;
  padding: 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  font-smooth: always;
  color: #000000;
  color: #ffffff;
  margin-bottom: 10px;
}

.tile .tile-body img {
  float: left;
  margin-right: 10px;
}

.tile .tile-body img.pull-right {
  float: right !important;
  margin-left: 10px;
  margin-right: 0px;
}

.tile .tile-body .content {
  display: inline-block;
}

.tile .tile-body > i {
  margin-top: 17px;
  display: block;
  font-size: 56px;
  text-align: center;
}

.tile.double-down i {
  margin-top: 95px;
}

.tile .tile-body h1,
.tile .tile-body h2,
.tile .tile-body h3,
.tile .tile-body h4,
.tile .tile-body h5,
.tile .tile-body h6,
.tile .tile-body p {
  padding: 0;
  margin: 0;
  line-height: 14px;
}

.tile .tile-body h3,
.tile .tile-body h4 {
  margin-bottom: 5px;
}

.tile .tile-body h1:hover,
.tile .tile-body h2:hover,
.tile .tile-body h3:hover,
.tile .tile-body h4:hover,
.tile .tile-body h5:hover,
.tile .tile-body h6:hover,
.tile .tile-body p:hover {
  color: #ffffff;
}

.tile .tile-body p {
  font-weight: 400;
  font-size: 13px;
  font-smooth: always;
  color: #000000;
  color: #ffffff;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tile .tile-body span{
    font-size:50px;
    padding-left:25px;
    padding-top:15px;

}

.tile .tile-body p:hover {
  color: rgba(0, 0, 0, 0.8);
}

.tile .tile-body p:active {
  color: rgba(0, 0, 0, 0.4);
}

.tile .tile-body p:hover {
  color: #ffffff;
}

.tile.icon > .tile-body {
  padding: 0;
}

.tile .tile-object {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 30px;
  background-color: transparent;
  *zoom: 1;
}

.tile .tile-object:before,
.tile .tile-object:after {
  display: table;
  content: "";
}

.tile .tile-object:after {
  clear: both;
}

.tile .tile-object > .name {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 15px;
  font-weight: 400;
  font-size: 13px;
  font-smooth: always;
  color: #ffffff;
}

.tile .tile-object > .name i {
  display: block;
  font-size: 24px;
}

.tile .tile-object > .number {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 14px;
  font-smooth: always;
  margin-bottom: 8px;
  margin-right: 10px;
}

.tile.image {  
  border-color1: transparent !important;
}

.tile.image > .tile-body {
  padding: 0 !important;
}

.tile.image > .tile-body > img{
  width: 100%;
  height: auto;
  min-height: 100%;
  max-width: 100%;
}

.tile.image .tile-body h3 {
  display: inline-block;
}

#user-container{
    display:block;
    vertical-align: top;
    line-height: 15px;
}

#user-container a.user-dropdown{
  font-size: 12px;
  /*font-weight: 200;*/
  line-height: 25px;
  text-decoration: none;
  color:##666;
 
}
#user-container .dropdown-menu .divider {
  background-color: #717171;
}

#user-container .dropdown.open .dropdown-toggle {
  color: inherit;
  background: inherit;
}
#user-container h5 {
  font-size: 22px;
  margin-bottom:5px;
  color:#666;
  margin-right:15px;
}



#header-container {
  display:block;
  margin-left: 50px;
  vertical-align: top;
  margin-bottom:25px;
}


#header-container a.header-dropdown {
  font-size: 20px;
  /*font-weight: 200;*/
  line-height: 25px;
  text-decoration: none;
  color:#fff;
}

#header-container .dropdown-menu .divider {
  background-color: #717171;
}

#header-container .dropdown.open .dropdown-toggle {
  color:#fff;
  background: inherit;
}

#header-container h5 {
  font-size: 12px;
  margin-bottom:5px;
  color:#ccc;
}
/*
Back button.
*/
#header-container .win-backbutton {
   
position: absolute;
top: 10px;
left: 10px;
}

/*.win-backbutton {
  display: inline-block;
  width: 38px;
  height: 38px;
  min-width: 0;
  min-height: 0;
  padding: 0;
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  vertical-align: baseline;
  border-style: solid;
  border-width: 2px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-clip: border-box;
}

.win-backbutton:before {
  font-family: 'IcoMoon';
  font-size: 22px;
  font-weight: normal;
  vertical-align: top;
  content: "\e41c";
}

.win-backbutton:disabled,
.win-backbutton:disabled:active {
  visibility: hidden;
  background-clip: padding-box;
}*/
.list-group-item:first-child {
border-top-right-radius: 0px;
border-top-left-radius: 0px;
}
.list-group-item:last-child {
margin-bottom: 0;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}
.panel-heading {
padding: 10px 15px;
border-bottom: 1px solid transparent;
border-top-right-radius: 0px;
border-top-left-radius: 0px;
}
.panel {
margin-bottom: 20px;
background-color: #fff;
border-radius: 0px;
}

#mainmenu a.list-group-item {
color: #fff;
}

#mainmenu .list-group-item {
position: relative;
display: block;
padding: 10px 15px;
margin-bottom: -1px;
background-color: #3b3939;
border: 1px solid #3b3939;
}

#mainmenu a.list-group-item:hover, a.list-group-item:focus {
text-decoration: none;
background-color: #8cc63e;
}

.fa-fw {
width: 1.75em;
text-align: center;
}

#mainmenu .panel-heading {
padding: 5px 0px;
border-bottom: 1px solid transparent;
border-top-right-radius: 0px;
border-top-left-radius: 0px;
}
#mainmenu .btn {
border-radius: 0px;
}